.btn-primary,
.bgc-primary{
    background-color: #581c7e !important;
    color: #ffffff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover,
  .show > .btn-primary.dropdown-toggle,
  .show > .btn-primary.dropdown-toggle:focus,
  .show > .btn-primary.dropdown-toggle:hover {
    background-color: #28235d !important;
    color: #ffffff !important;
}

a,
.text-primary {
    color: #581c7e !important;
}

.sidebar-wrapper .nav li.active a,
.sidebar-wrapper .nav li.active a i {
    color: #ffae13 !important;
    font-weight: bold !important;
}

.btn-primary,
.btn-danger,
.btn-success {
    color: #ffffff !important;
}

.cover-book-list {
    width: 50px;
}